@import '../../../styles/mixins.scss';

.cardProfitWrapper {
    @include cardWrap;
    width: 21.5rem;
    height: 10rem;
    overflow: hidden;
    

    .cardProfitTitle {
        font-size: 1.25rem;
    }   
}



.cardProfitButtonsWrapper {
    display: flex;
    justify-content: space-between;
    width: max-content;
    margin-top: 16px;
    margin-left: -7px;
}

.btnCardProfit {
    // width: max-content;
    margin-left: 7px;
}

.spanStyle {
    // text-align: center;
    // width: max-content;
}

@media (max-width: 1200px) {

}

@media (max-width: 992px) {
    .cardProfitWrapper {
        width: 100%;
    }
}

@media (max-width: 768px) {
    
}

@media (max-width: 576px) {
   
}   