@import '../../../styles/mixins.scss';

.categoryWrapper {
    display: flex;
    align-items: center;
    margin-top: 10px;
    gap: 0.75rem;
    
    .btnNewCategory {
        min-width: 3rem;
        margin-top: 10px;
    }
    
    .btnSpanCategory {
        padding: 0;
        line-height: 28px;
    }
}

.formOperation {
    @include modalFormWrapper;
}

.selectCategory {
    width: 100%;
}

.textareaWrapper {
    .commentField {
        width: 100%;
        height: 60px;
    }
}

.labelNewCategory {
    margin-top: 1rem;
    display: block;
    height: 1.5rem;
    // width: 70%;
    border: 1px solid #8707ff;
    border-radius: 10px;
    padding: 3px;
    align-self: center;
    align-items: center;
}

.addNewCategory {
    width: 100%;
}

.typeOperation {
    display: flex;
    flex-direction: column;
    width: 100%;

    .spanTypeOperation {
        color: black;
        opacity: 0.9;
        font-size: 0.95rem;
        margin-top: 1rem;  
    }

    
    .radioWrapper {
        display: flex;
        gap: 10px;

        span {
            color: black;
            opacity: 0.9;
            font-size: 0.9rem;
        }
    
        .radioTypeOperation{

            .labelTypeOperation {
                display: flex;
                align-items: center;
            }

            :last-child{
                margin-left: 0.25rem;
            }
            .radioInput {
                margin-top: 2px;
                width: 15px;
                color: black;
            }
        }

    }
}

.commentField {
    // @include inputText
    height: 350px;
}

// .btnSubmit {
    // @include btnSubmit;
// }

@media (max-width: 1200px) {
    // .formOperation {
    //     @include form;
    // }
}

@media (max-width: 992px) {

}

@media (max-width: 768px) {
  .modalWindow__content.active {
    width: 70vw; 
  }
}

@media (max-width: 576px) {
  .modalWindow__content.active {
    width: 90vw; 
  }
}