.newOperation {
    margin-top: 1rem;

    .newOperationBtn {
        margin-top: 1rem;
    }
}

.pieChartWrapper {
    display: flex;
}

@media (max-width: 1200px) {

}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
    
}

@media (max-width: 576px) {
    .pieChartWrapper {
        justify-content: center;

    }
}