@import '../../../styles/mixins.scss';

.card_wrapper, .card_wrapperOperationPage {
    @include cardWrap;
    margin-top: 1rem;
    width: 22rem;
    overflow: hidden;
}

.card_wrapperOperationPage {
    height: 10rem;
}

.card_wrapper {
    &:hover {
        cursor: pointer;
        animation: card-hover 500ms forwards;
    }
}

@keyframes card-hover {
    0%{
        transition: 500ms;
        transform: translateX(0px);
    }
    100% {
        transition: 500ms;
        box-shadow: rgba(149, 157, 165, 0.2) 2px 12px 26px;
        transform: translateX(1px);
    }
}

.card_wrapperOperationPage {
    height: 14rem;
}

.cardOperationComment {
    font-size: large;
}

.profitBadge, .expanseBadge  {
    width: 2rem;
    height: 1rem;
    font-size: 1.35rem;
    padding: 0.25rem;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    border-radius: 10px;
}

.expanseBadge {
    background-image: linear-gradient(144deg,#810459, #43035b 50%,#212728);
}

.profitH5 {
    margin-top: 0.75rem;
}

.cardOperationButtonWraper{
    margin-top: 0.75rem;
    display: flex;
    justify-content: space-between;

    .btnDeleteRecord, .btnGoToRecord {
        min-width: 0px;
        width: 40px;
        height: 35px;
    }
    
    .spanDeleteRecord, .spanGoToRecord {
        height: 29px;
        line-height: 28px;
        padding: 0;
    }
}

@media (max-width: 1200px) {
    
}

@media (max-width: 992px) {
    .card_wrapper {
        margin: 15px 15px 15px 0px;
    }
}

@media (max-width: 768px) {
    .card_wrapper {
        margin: 15px 15px 15px 0px;
        width: 30vw;
    }
}

@media (max-width: 576px) {
    .card_wrapper {
        margin: 15px 15px 15px 0px;
        width: 90vw;
    }
}