@import '../../../../styles/variables.scss';
// .btn_primary {
//     background-color: #4CAF50; /* Green */
//     border: none;
//     color: white;
//     padding: 15px 32px;
//     text-align: center;
//     text-decoration: none;
//     display: inline-block;
//     font-size: 16px;
//   }

// .btn_dark {
//     background-color: #485048; /* Green */
//     border: none;
//     color: white;
//     padding: 15px 32px;
//     text-align: center;
//     text-decoration: none;
//     display: inline-block;
//     font-size: 16px;
// }  
html[data-theme='dark'] {
    .bar span {
        background: #f1faee
    }
    }

html[data-theme='light'] {
    button {
        background-image: linear-gradient(144deg,#c31451, #dedde6 50%,rgb(19, 208, 222));
    }

    button span {
        color: $backgroundDark;
        background-color: rgb(238, 226, 226);
     }

     button:hover span {
        background: none;
    }
}



.btn {
    align-items: center;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 15px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    transition: all .4s;
   }
   
   button:active,
   button:hover {
    outline: 0;
   }
   
   button span {
    background-color: rgb(5, 6, 45);
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 400ms;
   }
   
   button:hover span {
    background: none;
   }
   
   button:active {
    transform: scale(0.9);
   }