

.listWrapper{
    display: grid;
    border: 1px solid white;
    // height: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}

@media (max-width: 1200px) {
    .listWrapper{
        grid-template-columns: 1fr 1fr; 
    }
}

@media (max-width: 992px) {
    
}

@media (max-width: 768px) {
    
}

@media (max-width: 576px) {
    .listWrapper{
        grid-template-columns: 1fr ; 
    }
}