@import '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';

html[data-theme='dark'] {
    .inputError {
        color: $backgroundLight;
    }


    
}

html[data-theme='light'] {
    .inputError {
        color: $backgroundDark;
    }
}

.formWrapper {
    display: flex;
    justify-content: space-around;

        .formLogin {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 13rem;
            height: 100vh;
            input {
                width: 100%;
            }

            // Toggles login/signup
            :last-child {
                align-items: flex-end;
            }
        }

        .submitButton {
            width: 100%;
            margin-top: 1rem;
            margin-bottom: 0.75rem;
        }

        .toggleRegister:hover , .toggleLogin:hover {
            cursor: pointer;
            transition: 0.3s ease;
            color: $hoverColorLight;
        }
        .toggleLogin, .toggleRegister {
            align-self: end;
        }
    }



