@import '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';

html[data-theme='dark'] {
    .inputError {
        color: $backgroundLight;
    }


    .spanToggleRegister {
        right: 0;
    }
}

html[data-theme='light'] {
    .inputError {
        color: $backgroundDark;
    }
}

.formWrapper {
    display: flex;
    justify-content: space-around;
    height: 38rem;

    .formInner {
        // margin-top: 15rem;
        // height: 100%;
        margin-top: 19%;

        .submitButton {
            line-height: 2px;
            width: 100%;
            margin-top: 1rem;
            margin-bottom: 0.75rem;
        }

        .toggleRegister {
            margin-left: 60px;
        }
        
        .toggleLogin {
            margin-left: 115px;
        }
        
        .toggleRegister:hover , .toggleLogin:hover {
            cursor: pointer;
            transition: 0.3s ease;
            color: $hoverColorLight;
        }
        
    }
}



