

.operationWrap {
    margin-top: 1rem;
    height: 55vh ;
    
    .operationButtonsWrap {
        display: flex;
        justify-content: space-between;
        width: 20rem;
        margin-top: 0.5rem;
    }

    .spanSortBy {
        width: 9rem;
        line-height: 0rem; 
    }

    .btnAddOperation {
        width: 15rem;
        height: 2.5rem;
    }

    .spanAddOperation {
        padding: 0;
        line-height: 35px;
    }
}