

.operationWrap {
    margin-top: 1rem;

    .operationButtonsWrap {
        display: flex;
        justify-content: space-between;
        width: 20rem;
        margin-top: 0.5rem;
    }

    .btnAddOperation {
        width: 5rem;
        height: 10rem;
        border: 1px solid green;
    }
}