@import '../../../styles/variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,900;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;600;700&display=swap');

html[data-theme='dark'] {
    .header {
        background-color: #0D0D2B;
        transition: 700ms;
    }
}

html[data-theme='light'] {
    .header {
        background-color: $colorLight;
        transition: 700ms;
    }
}

.header {
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    // align-items: center;
}

.logo {
    padding: 0.3rem;
    width: 4rem;
    height: 4rem;
}

.nav {
    height: 100%;
}

.navbar_ul {
    display: flex;
    align-items: center;
    height: 100%;
    flex-direction: row;
    list-style-type:  none;
    width: 50vw;
    justify-content: space-around;
}

.burger {
    display: none;
}

.navbar_ul >:last-child {
    font-size: 30px; 
}

@media (max-width: 1200px) {
    .container {
        width: 1140px;
    }
}

@media (max-width: 992px) {
    .navbar_ul {
        display: flex;    
        justify-content: space-around;
        margin-right: 3rem;
        width: 75vw;
    }
}

@media (max-width: 768px) {
    .navbar_ul {
        width: 75vw;
        display: flex;
    }
}

@media (max-width: 576px) {
    li {
        display: block;
        font-size: 1.25rem;
    }

    .logo{
        position: absolute;
        left: 10vw;
        top: 0;
    }
    .burger {
        display: flex;
        top: 0;
        right: 5rem;
    }
    .nav {
        display: none;
        position: relative;
    }
    .nav_active {
        display: block;
    }
    .navbar_ul {
        position: absolute; 
        top: 10vh;
        right: 1rem;
        width: 30vw;
        height: 90vh;
        // margin-top: 10vh;
        display: flex;
        flex-direction: column;
        z-index: 20;
        >li:hover{
            color: #979595
        }
    }
}


