
.widgetWrapper {
    margin-top: 1rem;
    // width: 92vw;

    .buttonWraper {
        display: flex;
        gap: 10px;
    }
    
    .chartWrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 1rem;
    }
}


@media (max-width: 1200px) {

}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
    
}

@media (max-width: 576px) {
    .buttonWraper {
        margin-top: 10px;
        justify-content: space-between;
        
    }

    .chartWrapper {
        display: flex;
        flex-direction: column;
    }
}