

.labelActive {
    display: flex;
    align-items: center;
    margin-top: 5px;
    
    .checkboxActive {
        visibility: visible;
        width: 14px;
        height: 14px;
        margin-bottom: 10px;
        margin-left: 10px;
    }
}

.radioGroup {
    margin-top: 5px;

    .radioWrapper {
        display: flex;
        align-items: center;
        margin-top: 5px;
        gap: 5px;
        font-size: 0.9rem;

        .radioSpan {
            color: black;
        }

        .radioInput {
            margin-top: 0;
        }
    }
}

.buttonWrapper {
    display: flex;
    justify-content: space-between;
    height: 3.125rem;
    margin-top: 10px;

    .btnChange {
        width: 50%;
    }

    .btnSpanChange {
        line-height: 0.65rem;
    }

    .btnSpanRemove {
        line-height: 0.5rem;
    }
}