@import '../../styles/mixins.scss';

.foo {
    background-color: var(--background-color);
}

.logo {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
}

.userCardWrap {
    margin-top: 1.5rem;
    @include cardWrap;
    display: flex;
    justify-content: space-around;

    .btnSetting, .btnExit {
        line-height: normal;
    }

    >.userCardInfo {
        margin-top: 1rem;
        >.userCardButtonWrapper {
            margin-top: 1.5rem;
            display: flex;
            justify-content: space-between;
        }
        >.paragraphUserPage {
            font-size: 1.125rem;
            margin-top: 0.5rem;
        }
        >.headerUserPage {
            font-size: 1.3rem;
        }
    }
}

@media (max-width: 1200px) {

}

@media (max-width: 992px) {

}

@media (max-width: 768px) {
  .userCardWrap {
    flex-direction: column;

    .logo {
        align-self: center;
    }

    .btnSetting, .btnExit {
        min-width: none;
        line-height: normal;
    }

    .btnSetting {
        min-width: 0;
        width: 5rem;
    }
    
    .btnExit {
        width: 13rem;
    }
  }
}

@media (max-width: 576px) {
  
}